.scro::-webkit-scrollbar {
    width: 6px;
}

.scro::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.scro::-webkit-scrollbar-thumb {

    background-color: rgba(255, 255, 255, 0.5);
}
